/data/*.desktop
/data/*.valid
/data/*.xml
/data/*.xml.in
/po/POTFILES
/po/*.mo
/po/*.gmo
/po/.*
/src/pk-updates-notifier
/src/.*
/src/*.o
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
*stamp*
*Makefile.in
*Makefile
*~